<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MACRO_LIST_PTR</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x89\x35\xCC\x2B\x5C\x01\xC7\x05\xE4\x2B\x5C\x01\xFF\xFF\xFF\xFF\x8B\x1D\x0C\x80\x5F\x01\x89\x5C\x24\x08\xC7\x44\x24\x04\x00\x00\x00\x00\xC7\x04\x24\x2C\x34\x61\x00\xE8\x24\x4E\x4C\xFF\xB8\xA4\x2B\x5C\x01\x83\xC8\x01\xC7\x05\xA0\x2B\x5C\x01\x90\x05\x00\x00\xC7\x05\xA4\x2B\x5C\x01\xA4\x2B\x5C\x01</string>
			<key>Mask</key>
			<string>xx????xx????xxxxxx????xxxxxxxxxxxxxxx????x????x????xxxxx????xxxxxx????xxxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>PLAYER_NAME_LIST</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x89\x5C\x24\x04\x89\x74\x24\x08\xC7\x04\x24\xA0\xC2\x51\x01</string>
			<key>Mask</key>
			<string>xxxxxxxxxxx????</string>
			<key>AdditionalOffset</key>
			<string>0x24</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>LOGIN_TOTAL_CHARACTERS</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x83\xC6\x01\x81\xC3\x68\x01\x00\x00\x3B\x35\xA4\x49\x5C\x01</string>
			<key>Mask</key>
			<string>xxxxxxxxxxx????</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>LOGIN_STATE</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x89\xE5\x83\xEC\x18\xC7\x44\x24\x08\x40\x00\x00\x00\x8B\x45\x08\x89\x44\x24\x04\xC7\x04\x24\x00\x71\x55\x01</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxxxxxxxxxxxxxx????</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>LOGIN_SELECTED_CHAR</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8B\x45\xD4\x89\x44\x24\x14\x8B\x45\xD8\x89\x44\x24\x10\x8B\x45\xDC\x89\x44\x24\x0C\x8B\x45\xE0\x89\x44\x24\x08\x8B\x45\xE4\x89\x44\x24\x04\xA1\xB4\xE4\xBA\x00\x8D\x04\x40\x89\xC2</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx????xxxxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>CHATLOG_START</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xC6\x80\x5C\x76\x4D\x01\x00\xC6\x80\x14\x82\x4D\x01\x00\xC7\x80\xCC\x8D\x4D\x01\x00\x00\x00\x00\xC7\x80\xD0\x8D\x4D\x01\x00\x00\x00\x00\xC7\x80\xD4\x8D\x4D\x01\x00\x00\x00\x00\xC7\x80\xD8\x8D\x4D\x01\x00\x00\x00\x00\x83\xC2\x01\x05\xBC\x17\x00\x00</string>
			<key>Mask</key>
			<string>xx????xxx????xxx????xxxxxx????xxxxxx????xxxxxx????xxxxxxxxxxxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>BATTLEGROUND_STATUS</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x89\xDA\x0F\xAC\xF2\x10\x8B\x45\xD4\x89\x50\x08\x0F\xB6\x87\x60\xFE\x55\x01\x83\xE0\x7F\x8B\x7D\xD4</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxxxxx????xxxxxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>MOUNT_LIST_POINTER</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x89\xE5\x53\x83\xEC\x14\xBB\xD4\x84\x5A\x01</string>
			<key>Mask</key>
			<string>xxxxxxxx????</string>
			<key>Count</key>
			<string>75</string>
			<key>AdditionalOffset</key>
			<string>0x4</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>LAST_RED_ERROR_MESSAGE</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xC7\x44\x24\x08\xB8\x0B\x00\x00\x89\x5C\x24\x04\xC7\x04\x24\xE0\x0B\x54\x01</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxxxxx????</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>CTM_DISTANCE</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8B\x45\xC8\x89\x03\x8B\x45\xCC\x89\x43\x04\x8B\x45\xD0\x89\x43\x08\xF3\x0F\x10\x05\xE4\x09\x27\x01</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxxxxxxxxxxx????</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>CTM_SCALE</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xC7\x05\xE8\x09\x27\x01\x00\x00\x34\x43\x0F\x2E\x15\xB8\x2A\xB9\x00\x76\x09</string>
			<key>Mask</key>
			<string>xx????xxxxxxx????xx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>CTM_GUID</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8B\x4D\x10\x8B\x01\x8B\x51\x04\xA3\xF0\x09\x27\x01</string>
			<key>Mask</key>
			<string>xxxxxxxxx????</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>CTM_ACTION</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x89\xE5\x53\x8B\x1D\xD4\x09\x27\x01\x83\xFB\x0D</string>
			<key>Mask</key>
			<string>xxxxxx????xxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>CTM_POS</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8D\x45\xD8\x8B\x55\x0C\x89\x54\x24\x08\xC7\x44\x24\x04\xFC\x08\x27\x01\x89\x04\x24</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxxxx????xxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>CD_LIST_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x89\x5C\x24\x08\x8B\x84\x88\x00\x01\x00\x00\x89\x44\x24\x04\xC7\x04\x24\x40\xE9\x25\x01</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxxxxxxxx????</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>PLAYER_CURRENT_ZONE</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8B\x10\x89\x15\xF8\x80\xB9\x00\x8B\x0D\x00\x81\xB9\x00\x85\xC9</string>
			<key>Mask</key>
			<string>xxxx????xx????xx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>ITEM_IN_LOOT_WINDOW</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x83\xFA\x11\x77\x0B\xC1\xE2\x05\x8B\x82\xE4\xE0\x57\x01\x5D\xC3</string>
			<key>Mask</key>
			<string>xxxxxxxxxx????xx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>CORPSE_POSITION_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xA1\x80\x0B\x54\x01\x89\x03\xA1\x84\x0B\x54\x01\x89\x43\x04\xA1\x88\x0B\x54\x01\x89\x43\x08</string>
			<key>Mask</key>
			<string>x????xxx????xxxx????xxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>CHAT_BOX_OPEN_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xA1\x20\x2B\xC2\x00\x85\xC0\x74\x3A</string>
			<key>Mask</key>
			<string>x????xxxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>LAST_SPELL_THAT_DIDNT_CAST_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x89\xC2\x8B\x85\xE0\xF2\xFF\xFF\x3B\x05\x54\xEA\x25\x01</string>
			<key>Mask</key>
			<string>xxxxxxxxxx????</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>PLAYER_IN_BUILDING_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x0F\xB6\xD0\x8B\x0D\x80\x60\x23\x01\x89\x15\x80\x60\x23\x01\x84\xC0</string>
			<key>Mask</key>
			<string>xxxxx????xx????xx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>HOTBAR_BASE_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8B\x45\x08\x8B\x14\x85\x00\x85\x58\x01\x85\xD2\x74\x3B</string>
			<key>Mask</key>
			<string>xxxxxx????xxxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>KNOWN_SPELLS_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x83\xC0\x04\x3D\xA0\x55\x59\x01\x75\xEE</string>
			<key>Mask</key>
			<string>xxxx????xx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>TARGET_TABLE_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x89\xE5\x56\x53\x83\xEC\x20\x8B\x75\x08\x8B\x0D\x90\xD9\xB9\x00</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxxx????</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>COMBO_POINTS_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x0F\xB6\x05\xAC\xD8\xB9\x00\x5B\x5D\xC3</string>
			<key>Mask</key>
			<string>xxx????xxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>ACCOUNT_NAME_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xC7\x44\x24\x08\x00\x05\x00\x00\x8B\x45\x08\x89\x44\x24\x04\xC7\x04\x24\x80\x41\xC3\x00</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxxxxxxxx????</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>PLAYER_GUID_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8B\x75\x10\x8B\x7D\x14\x8B\x15\xE0\xBE\xB9\x00\x8D\x42\x01\xA3\xE0\xBE\xB9\x00</string>
			<key>Mask</key>
			<string>xxxxxxxx????xxxx????</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>PLAYER_NAME_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x89\xE5\x31\xC0\x80\x3D\x28\x3D\x55\x01\x00\xBA\x28\x3D\x55\x01\x0F\x45\xC2\x5D\xC3</string>
			<key>Mask</key>
			<string>xxxxxxx????xx????xxxxx</string>
			<key>StartScanAddress</key>
			<string>0x1500000</string>
			<key>Count</key>
			<string>4</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>OBJECT_LIST_LL_PTR</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x89\xE5\x57\x56\x53\x83\xEC\x1C\x8B\x0D\x6C\x5A\x25\x01\x8D\x91\xA4\x00\x00\x00\x8B\x42\x08\xA8\x01\x0F\x85\xE6\x00\x00\x00\x85\xC0\x0F\x84\xDE\x00\x00\x00</string>
			<key>Mask</key>
			<string>xxxxxxxxxxx????xxxxxxxxxxxxx????xxxx????</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3F\xA0\x01\x1D\x3C\xA0\x00\x0F\x80\x42\xBF\xFC\x3B\xBD\x76\xCC\x38\xA5\x39\x84\x91\x9D\x00\x00\x38\x80\x00\xA9\x38\xC0\x00\x00</string>
			<key>Mask</key>
			<string>xx??xxxxxx%%xx??xxxxxxxxxxxxxxxx</string>
		</dict>
	</dict>
	<key>SERVER_NAME_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xB8\x00\x44\x55\x01\x89\xD3\x0F\x45\xD8\xA1\x0C\x86\x5F\x01\x89\x44\x24\x04\x8D\x45\xF4\x89\x04\x24\xE8\x66\xFF\x29\x00\xC7\x44\x24\x08\x58\x00\x00\x00\xC7\x44\x24\x04\x00\x00\x00\x00\xC7\x04\x24\xA0\x43\x55\x01</string>
			<key>Mask</key>
			<string>x????xxxxxx????xxxxxxxxxxx????xxxxxxxxxxxxxxxxxxx????</string>
			<key>AdditionalOffset</key>
			<string>0x6</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<data></data>
			<key>Mask</key>
			<data></data>
		</dict>
	</dict>
</dict>
</plist>
