<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lua_GetBindingKey</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xA1\xE0\x2F\xC8\x00\x31\xDB\x89\x45\xE4\xC7\x44\x24\x08\x00\x00\x00\x00\xC7\x44\x24\x04\x01\x00\x00\x00</string>
			<key>Mask</key>
			<string>x????xxxxxxxxxxxxxxxxxxxxx</string>
			<key>Comment</key>
			<string>From 3.3.0a: lua_GetBindingKey</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>Lua_IsUsableAction</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8B\x14\x85\x00\xEE\xD8\x00\x8B\x04\x85\x40\xF0\xD8\x00\x85\xC0\x74\xAC</string>
			<key>Mask</key>
			<string>xxx%%%%xxx????xxxx</string>
			<key>Comment</key>
			<string>From 3.3.0a: lua_IsUsableAction</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>Lua_IsUsableActionNotEnough</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8B\x14\x85\x00\xEE\xD8\x00\x8B\x04\x85\x40\xF0\xD8\x00\x85\xC0\x74\xAC</string>
			<key>Mask</key>
			<string>xxx????xxx%%%%xxxx</string>
			<key>Comment</key>
			<string>From 3.3.0a: lua_IsUsableAction</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>RUNE_STATE_START</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x31\xC0\xC7\x45\xAC\x00\x00\x00\x00\xC7\x45\xB0\x00\x00\x00\x00\xC7\x45\x94\xC0\x99\xFC\x00\xC7\x45\xA4\x00\x00\x00\x00</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxxxxxxxxx????xxxxxxx</string>
			<key>Comment</key>
			<string>From 3.3.0: sub_6571E0</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>RUNE_STATUS</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x31\xC0\x89\xE5\x8B\x55\x08\x83\xFA\x07\x77\x11\xA1\x00\x9A\xFC\x00</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxxxx????</string>
			<key>AdditionalOffset</key>
			<string>0x4</string>
			<key>Comment</key>
			<string>From 3.3.0: sub_655FE0</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>PARTY_LEADER_PTR</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x89\xE5\x57\x83\xEC\x14\xBF\xE0\xB9\x55\x01\xFC\xB9\x08\x00\x00\x00\x31\xC0\xF3\xAB</string>
			<key>Mask</key>
			<string>xxxxxxxx????xxxxxxxxxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>KEYBINDINGS_PTR</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xA1\x60\x50\xBA\x00\x89\x45\xE0\xC7\x44\x24\x04\x01\x00\x00\x00\x89\x3C\x24</string>
			<key>Mask</key>
			<string>x????xxxxxxxxxxxxxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>MACRO_LIST_PTR</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x89\xC8\xF7\xD0\x21\xC2\x89\x15\x60\x69\x19\x01\x8B\x15\xAC\xD6\xFC\x00\xC1\xE9\x10\x49\x89\x8D\x90\xF3\xFF\xFF\xF6\xC2\x01\x0F\x84\xCC\x00\x00\x00</string>
			<key>Mask</key>
			<string>xxxxxxxx%%%%xx????xxxxxx%xxxxxxxx%%%%</string>
			<key>Comment</key>
			<string>For 3.3.0: sub_6B7C00  (this one definitely took some time to find, kind of sucked to get a good signature that worked for 3.3.0 and 3.3.0a)</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3F\xA0\x01\x4D\x38\x5D\x53\xEC\x83\xE2\x00\x0C\x73\xE0\x00\x01\x40\x82\x00\x0C</string>
			<key>Mask</key>
			<string>xx??xx??xxxxxxxxxxxx</string>
			<key>AdditionalOffset</key>
			<string>0xC</string>
		</dict>
	</dict>
	<key>PLAYER_NAME_LIST</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x89\x5C\x24\x04\x89\x74\x24\x08\xC7\x04\x24\xA0\xC3\xF3\x00\xE8\x17</string>
			<key>Mask</key>
			<string>xxxxxxxxxxx????xx</string>
			<key>AdditionalOffset</key>
			<string>0x24</string>
			<key>Comment</key>
			<string>For 3.3.0: sub_1A8860</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>LOGIN_TOTAL_CHARACTERS</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x83\xC6\x01\x81\xC3\x68\x01\x00\x00\x3B\x35\xA4\x49\x5C\x01</string>
			<key>Mask</key>
			<string>xxxxxxxxxxx????</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>WorldState</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xC7\x05\x50\xA3\xC7\x00\x09\x00\x00\x00\xC7\x44\x24\x08\x00\x00\x00\x00\xC7\x44\x24\x04\xFF\xFF\xFF\xFF\xC7\x04\x24\x08\x14\xA9\x00\xE8\xBA\x62\x54\x00</string>
			<key>Mask</key>
			<string>xx????xxxxxxxxxxxxxxxxxxxxxxx????x????</string>
			<key>Comment</key>
			<string>3.3.2: from sub_2B9000</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>LoginState</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xC7\x44\x24\x08\xFF\xFF\xFF\x7F\xC7\x44\x24\x04\xF0\x12\xA9\x00\xC7\x04\x24\x20\xBD\xD8\x00\xE8\xF4\xD2\xDE\xFF\x85\xC0\x75\x8F</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxx%%%%xxx????x????xxxx</string>
			<key>Comment</key>
			<string>3.3.2: from sub_2B7C40</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>LOGIN_SELECTED_CHAR</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8B\x45\xD4\x89\x44\x24\x14\x8B\x45\xD8\x89\x44\x24\x10\x8B\x45\xDC\x89\x44\x24\x0C\x8B\x45\xE0\x89\x44\x24\x08\x8B\x45\xE4\x89\x44\x24\x04\xA1\xB4\xE4\xBA\x00\x8D\x04\x40\x89\xC2</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx????xxxxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>CHATLOG_START</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xC6\x80\xFC\x7D\xF4\x00\x00\xC6\x80\xB4\x89\xF4\x00\x00\xC7\x80\x6C\x95\xF4\x00\x00\x00\x00\x00\xC7\x80\x70\x95\xF4\x00\x00\x00\x00\x00\xC7\x80\x74\x95\xF4\x00\x00\x00\x00\x00\xC7\x80\x78\x95\xF4\x00\x00\x00\x00\x00\x05\xBC\x17\x00\x00</string>
			<key>Mask</key>
			<string>xx????xxx%%%%xxx%%%%xxxxxx%%%%xxxxxx%%%%xxxxxx%%%%xxxxxxxxx</string>
			<key>Comment</key>
			<string>For 3.3.0: sub_535030</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>BATTLEGROUND_STATUS</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x6B\xD8\x34\x89\x34\x24\x8D\xBB\x20\x6F\xF4\x00\x89\x7C\x24\x04</string>
			<key>Mask</key>
			<string>xxxxxxxx????xxxx</string>
			<key>Comment</key>
			<string>For 3.3.0: sub_50BD80</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3C\x40\x01\x47\x55\x29\x18\x38\x7C\x09\x00\x50\x38\x42\x1E\xB8\x7C\x40\x12\x15\x41\x82\x00\x24\x80\x02\x00\x30</string>
			<key>Mask</key>
			<string>xx??xxxxxxxxxx??xxxxxxxxxxxx</string>
		</dict>
	</dict>
	<key>MOUNT_LIST_NUM</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Comment</key>
			<string>For 3.3.0: sub_65CA80</string>
			<key>Signature</key>
			<string>\x53\xBB\xBC\x9B\xFC\x00\x83\xEC\x10\x8B</string>
			<key>Mask</key>
			<string>xx????xx%x</string>
			<key>Count</key>
			<string>24</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3C\x40\x01\x4C\x38\x42\xBE\x7C\x81\x62\x00\x04\x81\x22\x00\x08\x55\x60\x10\x3A\x39\x6B\x00\x01\x7D\x69\x03\xA6\x7C\x40\x4A\x14</string>
			<key>Mask</key>
			<string>xx??xx??xxxxxxxxxxxxxxxxxxxxxxxx</string>
			<key>SubtractOffset</key>
			<string>0x10008</string>
		</dict>
	</dict>
	<key>LAST_RED_ERROR_MESSAGE</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Comment</key>
			<string>For 3.3.0: sub_5A5870</string>
			<key>Signature</key>
			<string>\xC7\x44\x24\x08\xB8\x0B\x00\x00\x89\x5C\x24\x04\xC7\x04\x24\xE0\x29\xFA\x00</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxxxxx????</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3C\x60\x01\x47\x38\x63\xA1\x3C\x7F\x64\xDB\x78\x38\xA0\x0B\xB8\x4B\xDB\x95\x9D</string>
			<key>Mask</key>
			<string>xx??xx??xxxxxxxxxxxx</string>
			<key>SubtractOffset</key>
			<string>0x10000</string>
		</dict>
	</dict>
	<key>CTM_DISTANCE</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xF3\x0F\x51\x05\xFC\x74\x0C\x01\xC7\x05\xE4\x74\x0C\x01\x00\x00\x00\x00\xF3\x0F\x11\x05\xE8\x74\x0C\x01\x0F\x57\xC0</string>
			<key>Mask</key>
			<string>xxxx%%%%xx%%%%xxxxxxxx????xxx</string>
			<key>Comment</key>
			<string>For 3.3.0: sub_42EF80</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3C\x40\x01\x1F\x91\x3F\x00\x08\x90\x1F\x00\x00\xC3\xC2\x4E\xD8\x48\x00\x01\x14</string>
			<key>Mask</key>
			<string>xx??xxxxxxxxxx??xxxx</string>
		</dict>
	</dict>
	<key>CTM_SCALE</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Comment</key>
			<string>For 3.3.0: sub_42EF80</string>
			<key>Signature</key>
			<string>\xC7\x05\xEC\x74\x0C\x01\xDB\x0F\x49\x40</string>
			<key>Mask</key>
			<string>xx????xxxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\xC0\x02\x00\xA8\x3C\x40\x01\x1F\xD0\x02\x4E\xDC\x48\x00\x00\x14</string>
			<key>Mask</key>
			<string>xxxxxx??xx??xxxx</string>
		</dict>
	</dict>
	<key>CTM_GUID</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xC7\x05\xF0\x74\x0C\x01\x00\x00\x00\x00\xC7\x05\xF4\x74\x0C\x01\x00\x00\x00\x00\xC7\x05\x10\x75\x0C\x01\x00\x00\x00\x00\xC7\x05\xE4\x74\x0C\x01\x00\x00\x00\x00\xC7\x05\xD8\x74\x0C\x01\x0D\x00\x00\x00</string>
			<key>Mask</key>
			<string>xx????xxxxxx%%%%xxxxxx%%%%xxxxxx%%%%xxxxxx%%%%xxxx</string>
			<key>Comment</key>
			<string>For 3.3.0: sub_42EC50</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3F\x40\x01\x1F\x3C\xC0\x00\x82\x38\xA0\x00\x01\x38\x5A\x4E\xE0\x38\xC6\xBE\x64\x38\xE0\x48\xD9</string>
			<key>Mask</key>
			<string>xx??xxxxxxxxxx??xxxxxxxx</string>
		</dict>
	</dict>
	<key>CTM_ACTION</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Comment</key>
			<string>For 3.3.0: sub_41ADB0</string>
			<key>Signature</key>
			<string>\xC7\x05\xD8\x74\x0C\x01\x0D\x00\x00\x00\xC7\x05\xE4\x74\x0C\x01\x00\x00\x00\x00\xC7\x05\x40\x75\x0C\x01\x00\x00\x00\x00\xC7\x05\x44\x75\x0C\x01\x00\x00\x00\x00</string>
			<key>Mask</key>
			<string>xx????xxxxxx%%%%xxxxxx%%%%xxxxxx%%%%xxxx</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3F\xA0\x01\x1F\x3B\xBD\x4E\xC8\x80\x1D\x00\x00\x2F\x80\x00\x0D\x41\x9E\x00\x60</string>
			<key>Mask</key>
			<string>xx??xx??xxxxxxxxxxxx</string>
		</dict>
	</dict>
	<key>CTM_POS</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8B\x55\x0C\x8D\x45\xD8\x89\x04\x24\xC7\x44\x24\x04\xFC\x73\x0C\x01\x89\x54\x24\x08</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxxx????xxxx</string>
			<key>Comment</key>
			<string>For 3.3.0: sub_41AA60</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3C\x80\x01\x1F\x38\x61\x00\x50\x38\x84\x4D\xEC\x48\x07\x0E\x05\x80\x01\x00\x50\x80\x41\x00\x54\x90\x01\x00\x38\x80\x01\x00\x58\x90\x41\x00\x3C\x90\x01\x00\x40\x80\x1D\x00\x00</string>
			<key>Mask</key>
			<string>xx??xxxxxx??xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</string>
		</dict>
	</dict>
	<key>CD_LIST_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8B\x40\x04\x8B\x40\x0C\xC7\x04\x24\x20\x4A\x0B\x01\x89\x44\x24\x08\x8B\x45\xE4\x89\x44\x24\x04</string>
			<key>Mask</key>
			<string>xxxxxxxxx????xxxxxxxxxxx</string>
			<key>Comment</key>
			<string>For 3.3.0: sub_32B9B0</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>PLAYER_CURRENT_ZONE</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x89\xE5\x83\xEC\x08\xC7\x05\xA0\xD7\xFC\x00\xFF\xFF\xFF\xFF\xC7\x05\x9C\xD7\xFC\x00\x00\x00\x00\x00</string>
			<key>Mask</key>
			<string>xxxxxxxx%%%%xxxxxx????xxxx</string>
			<key>Comment</key>
			<string>For 3.3.0: sub_6D32D0</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3E\xA0\x00\xB3\x3C\x40\x00\xB6\x3D\x20\x00\xB3\x80\x15\xD1\xE8\x80\x42\xC1\x24\x2F\x80\x00\x00\x81\x62\x00\x00\x91\x69\xD1\xE0\x40\x9E\x02\x74</string>
			<key>Mask</key>
			<string>xx%%xx%%xx??xx%%xx%%xxxxxxxxxx??xxxx</string>
			<key>SubtractOffset</key>
			<string>0x10000</string>
		</dict>
	</dict>
	<key>ITEM_IN_LOOT_WINDOW</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x89\xF3\xC1\xE3\x05\x8B\x83\xA4\xA2\xFB\x00\x85\xC0</string>
			<key>Mask</key>
			<string>xxxxxxx????xx</string>
			<key>Comment</key>
			<string>For 3.3.0: sub_5EB6A0</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3E\xC0\x01\x4A\x3B\xF6\x5A\xD8\x3F\xA0\x00\x51\x3B\xBD\x5B\x0C\x3B\xDF\x02\x40</string>
			<key>Mask</key>
			<string>xx??xx??xxxxxxxxxxxx</string>
			<key>AdditionalOffset</key>
			<string>0x4</string>
		</dict>
	</dict>
	<key>CORPSE_POSITION_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8B\x02\x85\xC9\xA3\x80\x29\xFA\x00\x8B\x42\x04\xA3\x84\x29\xFA\x00\x8B\x42\x08\xA3\x88\x29\xFA\x00</string>
			<key>Mask</key>
			<string>xxxxx????xxxx%%%%xxxx%%%%</string>
			<key>Comment</key>
			<string>For 3.3.0: sub_5A0A50</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
		</dict>
	</dict>
	<key>CHAT_BOX_OPEN_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x89\xE5\x53\x83\xEC\x14\x8B\x5D\x08\x39\x1D\x80\x5A\x22\x01\x74\x34</string>
			<key>Mask</key>
			<string>xxxxxxxxxxxx????xx</string>
			<key>Comment</key>
			<string>From 3.3.0: sub_9E3630</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x7C\x08\x02\xA6\xBF\x61\xFF\xEC\x3F\xC0\x00\xBB\x7C\x7F\x1B\x78\x90\x01\x00\x08\x94\x21\xFF\xA0\x80\x1E\x13\x58\x7F\x80\x18\x00\x41\x9E\x00\x98</string>
			<key>Mask</key>
			<string>xxxxxxxxxx??xxxxxxxxxxxxxx??xxxxxxxx</string>
		</dict>
	</dict>
	<key>LAST_SPELL_THAT_DIDNT_CAST_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8B\x8D\xE0\xF2\xFF\xFF\x3B\x0D\x38\x4B\x0B\x01\x89\xC2</string>
			<key>Mask</key>
			<string>xxxxxxxx????xx</string>
			<key>Comment</key>
			<string>From 3.3.0: sub_323A30</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3C\x40\x01\x1E\x7E\xA3\xAB\x78\x7E\xE4\xBB\x78\x90\x02\x17\xC8\x7E\x65\x9B\x78\x38\xC0\x00\xBA</string>
			<key>Mask</key>
			<string>xx??xxxxxxxxxx??xxxxxxxx</string>
		</dict>
	</dict>
	<key>HOTBAR_BASE_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x89\xE5\x83\xEC\x18\xC7\x44\x24\x08\x40\x02\x00\x00\xC7\x44\x24\x04\x00\x00\x00\x00\xC7\x04\x24\x20\x52\xF4\x00</string>
			<key>Mask</key>
			<string>xxxxx%xxxxxxxxxxxxxxxxxxx????</string>
			<key>Comment</key>
			<string>From 3.3.0: sub_4E8860</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x7C\x08\x02\xA6\x3C\x60\x01\x4B\x38\x80\x00\x00\x38\xA0\x02\x40\x38\x63\xFE\x70</string>
			<key>Mask</key>
			<string>xxxxxx??xxxxxxxxxx??</string>
			<key>SubtractOffset</key>
			<string>0x10000</string>
		</dict>
	</dict>
	<key>KNOWN_SPELLS_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xE8\xEF\x49\xC3\x00\xC7\x44\x24\x08\x00\x10\x00\x00\xC7\x44\x24\x04\x00\x00\x00\x00\xC7\x04\x24\x40\xAC\xFC\x00\xE8\xD3\x49\xC3\x00</string>
			<key>Mask</key>
			<string>x%%%%xxxxxxxxxxxxxxxxxxx????x%%%%</string>
			<key>Comment</key>
			<string>From 3.3.0: sub_65E7F0</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3D\x20\x01\x4C\x54\x00\x10\x3A\x81\x62\x60\x0C\x39\x29\xCE\xD0</string>
			<key>Mask</key>
			<string>xx??xxxxxxxxxx??</string>
			<key>SubtractOffset</key>
			<string>0x10000</string>
		</dict>
	</dict>
	<key>TARGET_TABLE_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x89\xE5\x83\xEC\x28\x89\x75\xFC\x8B\x75\x08\x89\x5D\xF8\x8B\x0D\xD0\xE5\xE3\x00\x8B\x1D\xD4\xE5\xE3\x00\x8B\x56\x04\x8B\x06</string>
			<key>Mask</key>
			<string>xxxxx%xxxxxxxxxxx????xx%%%%xx%xx</string>
			<key>Comment</key>
			<string>From 3.3.0: sub_596DB0</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>SubtractOffset</key>
			<string>0x10000</string>
			<key>Signature</key>
			<string>\x7C\x08\x02\xA6\xBF\xC1\xFF\xF8\x3F\xC0\x00\xB3\x7C\x7F\x1B\x78\x38\x5E\xDD\x28</string>
			<key>Mask</key>
			<string>xxxxxxxxxx??xxxxxx??</string>
		</dict>
	</dict>
	<key>COMBO_POINTS_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x8B\x1D\xEC\xE4\xE3\x00\x0F\xB6\x0D\xE0\xE4\xE3\x00\x31\xD3\x8B\x15\xE8\xE4\xE3\x00\x31\xC2\x31\xC0\x09\xD3\x5B\x0F\x44\xC1\xC9\xC3</string>
			<key>Mask</key>
			<string>xx%%%%xxx????xxxx%%%%xxxxxxxxxxxx</string>
			<key>Comment</key>
			<string>From 3.3.0: sub_588A90</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string></string>
			<key>Mask</key>
			<string></string>
			<key>SubtractOffset</key>
			<string></string>
		</dict>
	</dict>
	<key>ACCOUNT_NAME_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xC6\x06\x00\xC7\x04\x24\x4C\x5E\xE3\x00\xE8\x14\xC8\xDB\xFF\xC7\x44\x24\x08\x52\xD7\xC0\x00\xC7\x44\x24\x04\xFC\x56\xC4\x00\xC7\x04\x24\x03\x00\x00\x00</string>
			<key>Mask</key>
			<string>xxxxxx????x%%%%%xxx%%%%xxxx%%%%xxxxxxx</string>
			<key>Comment</key>
			<string>From 3.3.0: sub_2F28C0</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x7C\x08\x02\xA6\xBF\xA1\xFF\xF4\x3F\xA0\x00\xB3\x3B\xBD\xEA\x70\x7C\x64\x1B\x78\x38\xA0\x05\x00</string>
			<key>Mask</key>
			<string>xxxxxxxxxx??xx??xxxxxxxx</string>
			<key>SubtractOffset</key>
			<string>0x10000</string>
		</dict>
	</dict>
	<key>PLAYER_GUID_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\xC7\x44\x24\x08\x5E\x01\x00\x00\xC7\x04\x24\xC0\x87\x02\x01</string>
			<key>Mask</key>
			<string>xxxxxxxxxxx????</string>
			<key>Comment</key>
			<string>From 3.3.0: sub_8474E0</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x80\x63\x00\x04\x3D\x20\x00\xB3\x39\x29\xE8\xC0\x80\x49\x00\x00\x80\x03\x00\x00\x7F\x80\x10\x00\x40\xBE\x00\x30</string>
			<key>Mask</key>
			<string>xxxxxx??xx??xxxxxxxxxxxxxxxx</string>
			<key>SubtractOffset</key>
			<string>0x10000</string>
		</dict>
	</dict>
	<key>PLAYER_NAME_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x31\xC0\x89\xE5\xBA\xC8\x87\x02\x01\x80\x3D\xC8\x87\x02\x01\x00\xC9\x0F\x45\xC2\xC3</string>
			<key>Mask</key>
			<string>xxxxxx????xx====xxxxxx</string>
			<key>Count</key>
			<string>4</string>
			<key>Comment</key>
			<string>From 3.3.0: sub_847580</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3C\x40\x01\x41\x38\x42\xFA\x40\x88\x02\x00\x08\x38\x62\x00\x08\x2F\x80\x00\x00\x4C\xBE\x00\x20\x38\x60\x00\x00\x4E\x80\x00\x20</string>
			<key>Mask</key>
			<string>xx??xx??xxxxxxxxxxxxxxxxxxxxxxxx</string>
			<key>AdditionalOffset</key>
			<string>0x8</string>
			<key>SubtractOffset</key>
			<string>0x10000</string>
		</dict>
	</dict>
	<key>OBJECT_LIST_LL_PTR</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x89\xE5\x57\x56\x53\x83\xEC\x1C\x8B\x0D\x0C\x76\x0E\x01\x8D\x91\xAC\x00\x00\x00\x8B\x42\x08\xA8\x01</string>
			<key>Mask</key>
			<string>xxxxxxxx%xx????xx%xxxxx%xx</string>
			<key>Comment</key>
			<string>From 3.3.0: sub_49D820</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3F\xA0\x01\x1D\x3C\xA0\x00\x0F\x80\x42\xBF\xFC\x3B\xBD\x76\xCC\x38\xA5\x39\x84\x91\x9D\x00\x00\x38\x80\x00\xA9\x38\xC0\x00\x00</string>
			<key>Mask</key>
			<string>xx??xxxxxx%%xx??xxxxxxxxxxxxxxxx</string>
		</dict>
	</dict>
	<key>SERVER_NAME_STATIC</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x56\x89\xD6\x53\x89\xD3\x83\xEC\x20\x80\x3D\x20\x89\x02\x01\x00\x0F\x45\xF0\xB8\xA0\x8E\x02\x01\x80\x3D\x81\x51\xE4\x00\x00</string>
			<key>Mask</key>
			<string>xxxxxxxxxxx%%%%xxxxx????xx%%%%x</string>
			<key>AdditionalOffset</key>
			<string>0x6</string>
			<key>Comment</key>
			<string>From 3.3.0: sub_847A80</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x38\x00\x00\x01\x3C\x40\x00\xB3\x3C\x60\x01\x41\x90\x02\xCE\x64\x38\x63\x01\x18\x38\xA0\x01\x48\x80\x9C\x00\x08\x7C\x84\xF2\x14\x48\x61\x11\x0D\x38\x60\x00\x01\x48\x00\x00\x24</string>
			<key>Mask</key>
			<string>xxxxxx%%xx??xx%%xx??xxxxxxxxxxxxxxxxxxxxxxxx</string>
			<key>AdditionalOffset</key>
			<string>0x6</string>
		</dict>
	</dict>
	<key>FIRST_OBJECT_OFFSET</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>Signature</key>
			<string>\x55\x89\xE5\x57\x56\x53\x83\xEC\x1C\x8B\x0D\x0C\x76\x0E\x01\x8D\x91\xAC\x00\x00\x00\x8B\x42\x08\xA8\x01</string>
			<key>Mask</key>
			<string>xxxxxxxx%xx%%%%xx?xxxxx%xx</string>
			<key>AdditionalOffset</key>
			<string>0x8</string>
			<key>Comment</key>
			<string>From 3.3.0: sub_49D820   I don&apos;t believe the last % of 8 would change, but if so, that would be added to the offset retreived by the above signature</string>
		</dict>
		<key>ppc</key>
		<dict>
			<key>Signature</key>
			<string>\x3F\xA0\x01\x1D\x3C\xA0\x00\x0F\x80\x42\xBF\xFC\x3B\xBD\x76\xCC\x38\xA5\x39\x84\x91\x9D\x00\x00\x38\x80\x00\xA9\x38\xC0\x00\x00</string>
			<key>Mask</key>
			<string>xx??xxxxxx%%xx??xxxxxxxxxxxxxxxx</string>
		</dict>
	</dict>
</dict>
</plist>
